{% extends '::base.html.twig' %}


    {% block stylesheets %}
        {{ parent() }}

        {% stylesheets
        'jqcoolgallery/css/*'

        filter='cssrewrite' output='css/compiled/app2.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}


{% block content %}

    <h1>C'est la galerie de photos !!!</h1>
    {{ form(form) }}


    <h2>Les photos</h2>


    <div id="gallery" class="demo">
        <ul class="jqcg-gallery" style="opacity:0;">
{% for category in categories %}



            <li data-title="{{ category.name }}" data-desc="Caption for Gallery {{ category.name }}">
                <img src="#" data-desc="" alt="{{ category.name }}"/>

                <ul class="jqcg-viewer-slides">
    {% for picture in pictures %}
                    <li>
                        <img src="{{ asset(media.uploadDir ~ '/' ~ picture.id ~ '.' ~ picture.extension) }}" alt="{{ picture.alt }}"/>

                        <div class="caption">This is the description for <strong>{{ picture.alt }} 1</strong>.</div>
                    </li>
    {% endfor %}
                </ul>

            </li>

{% endfor %}
        </ul>
    </div>




{% endblock %}






            {% block javascripts %}
                {{ parent() }}
                {% javascripts
                'jqcoolgallery/js/*'

                output='js/compiled/app.js' %}
                <script src="{{ asset_url }}"></script>
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>


                {% endjavascripts %}


            {% endblock %}